/* Reset & base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #020c1f; /* light gray */
  color: #333;
  display: flex;
  align-content: left;
  justify-content: left;
  
}

